.hide {
    display: none;
}

.correct {
    background-color: green;
}

.wrong {
    background-color: red;
}

img {
    width: 700px;
    height: auto;
}


* {
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

/**************************/
/* Primeira pagina */
#main {
    padding: 250px;

}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    height: 200px;
    width: auto;
}

html {
    background-color: rgb(56, 18, 114);
}

.caixa-botao {
    background-color: rgb(255, 255, 255);
    padding: 16px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 4px;
}

input {
    min-height: 2.375rem;
    max-height: 48px;
    line-height: 2.375rem;
    text-align: center;
    max-width: 20rem;
    min-width: 6.25rem;
    color: rgb(51, 51, 51);
    outline: none;
    font-size: 1rem;
    border-radius: 4px;
    box-sizing: border-box;
}

#iniciar {
    width: 100%;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    position: relative;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;

}

#aviso {
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: white;

}

/* FIM */

/* Perguntas */
.questoes {
    justify-content: center;
    align-items: center;
    background-color: rgba(56, 18, 114, 0.718);
}

.option {
    height: 100px;
    width: 150px;
    border-radius: 5px;
    margin: 10px;
}

#Opns {
    display: flex;
    justify-content: center;
    align-items: center;
}


#tituloDaPergunta {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-2 {
    background-color: #d89e00;
    color: white;
    font-size: 20px;
}

#btn-0 {
    background-color: #c60929;
    color: white;
    font-size: 20px;
}

#btn-1 {
    background-color: #0542b9;
    color: white;
    font-size: 20px;
}

#btn-3 {
    background-color: #106b03;
    color: white;
    font-size: 20px;
}
 
#img {
    margin-left: 380px;
   border: solid white 5px;
   box-shadow: 4px 0px 8px rgba(0, 0, 0, 0.2);
   
}

#tituloDaQuestao {
    color: white;
    font-size: 30px;
}

/* Fim perguntas */

/* Acertou */

#terminoTitulo {
    color: white;
}
#fim {
    
    justify-content: center;
    align-items: center;
    flex-direction: column;

    
}
#score {
    color: white;
}

#feedback {
    color: white;
}

#voltar {
    width: 35%;
    margin: 0px;
    border: 0px;
    cursor: pointer;
    display: inline-block;
    vertical-align: bottom;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -4px inset;
    background: rgb(51, 51, 51);
    color: rgb(255, 255, 255);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    min-width: 48px;
    min-height: 48px;
    padding: 0px 16px 4px;
    position: relative;
    font-family: Montserrat, "Noto Sans Arabic", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#footer {
    padding: 15px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

